{% extends 'project/home.html' %}
{% load static %}

{% block content %}

                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <!-- Main-body start -->
                                  
                                 <!-- Hover table card start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h2>Inquiry table</h2>
                                            <div class="card-header-right">    
                                                <ul class="list-unstyled card-option">        
                                                    <li><i class="icofont icofont-simple-left "></i></li>        
                                                    <li><i class="icofont icofont-maximize full-card"></i></li>        
                                                    <li><i class="icofont icofont-minus minimize-card"></i></li>        
                                                    <li><i class="icofont icofont-refresh reload-card"></i></li>        
                                                    <li><i class="icofont icofont-error close-card"></i></li>    
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Name</th>
                                                            <th>Email</th>
                                                            <th>Created on</th>
                                                            <th>Contact</th>
                                                            <th>Message</th>
                                                        </tr>

                                                    </thead>
                                                   <tbody>

                                                    {% for i in inquiries %}
                                                        <tr>
                                                            <td>{{i.id}}</td>
                                                            <td>{{i.name}}</td>
                                                            <td>{{i.email}}</td>
                                                            <td>{{i.created_At}}</td>
                                                            <td>{{i.contact}}</td>
                                                            <td>{{i.message}}</td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                             </div>
                             {% endblock %}
                                    <!-- Hover table card end -->