{% extends 'user/base.html' %}
{% load static %}

{% block content %}

<section class="py-5" style="background-color:#fdfdfd;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-12">

                <div class="bg-white p-5 rounded-4 shadow">

                    <div class="text-center mb-4">
                        <h2 class="fw-bold text-black">Feedback</h2>
                        <p class="fw-bold text-black">
                            We value your feedback.
                        </p>
                    </div>

                    <form action="/user/feedback_store" method="POST">
                        {% csrf_token %}

                        <!-- Rating -->
                        <div class="mb-4">
                            <label class="form-label fw-bold text-black">Rating</label>
                            <select name="rating"class="form-select fw-bold w-100 rating-center"required>
                                <option value="">Select Rating</option>
                                <option value="1">1 - Poor</option>
                                <option value="2">2 - Average</option>
                                <option value="3">3 - Good</option>
                                <option value="4">4 - Very Good</option>
                                <option value="5">5 - Excellent</option>
                            </select>
                        </div>

                        <!-- Message -->
                        <div class="mb-3">
                            <label class="form-label fw-bold text-black">Message</label>
                            <textarea name="message"
                                      class="form-control fw-bold"
                                      rows="4"
                                      placeholder="Enter your feedback here..."
                                      required></textarea>
                        </div>

                        <!-- Button -->
                        <div class="text-center">
                            <button type="submit"
                                    class="btn fw-bold px-4 py-2 rounded-3"
                                    style="background:#000; color:#fff;">
                                Submit Feedback
                            </button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}
