{% extends 'user/base.html' %}
{% load static %}
{% block content %}



    <!-- Shop Details Section Begin -->
    <section class="shop-details">

    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic__item">
                        <img src="/media/images/{{show.image}}" 
                             height="500" width="100%" alt="">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h4>{{show.product}}</h4>
                        <h3>₹ {{show.price}}</h3>
                        <p>{{show.small_des}}</p>
                        <p style="color:#666; line-height:1.8;">
                           {{show.large_des}}
                        </p>


                        <!-- FORM START -->
                        <form method="POST" action="/user/add_cart/{{show.id}}/">
                            {% csrf_token %}

                            <div class="product__details__cart__option">

                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="number" 
                                               name="qty" 
                                               value="1" 
                                               min="1">
                                    </div>
                                </div>

                                <button type="submit" 
                                        class="primary-btn"
                                        style="border:none;">
                                    add to cart
                                </button>

                            </div>
                        </form>
                        <!--  FORM END -->

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

    <!-- Shop Details Section End -->
    {% endblock %}